* {
  box-sizing: border-box;
}

html, 
body {
  width: 100%;
  height: 100%;
  background-color: black;
  /*@todo - this could be grid!!*/
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.launcher-main {
  width: 100%;
  height: 50%;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: url('/img/launcher-main.jpg') no-repeat center center;
  background-size: contain;
}

.terminal {
  display: flex;
  width: 100%;
  height: 50%;
  color: white;
  border: solid white 2px;
  
  .actions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 0.5rem;

    .application {
      display: flex;
      flex-direction: column;
    }
  }

  .console {
    width: 100%;
    height: 100%;
    position: relative;

    .background {
      width: 100%; 
      height: 100%;  
      opacity: 0.3;
      z-index: -1;
      background-size: contain;
      background: url('/img/launcher-debug.gif') no-repeat center center;
    }
    
    .output {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%; 
      height: 100%;  
      overflow: auto;
      z-index: 1;
      
      .command {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;

        .timestamp {
          display: none;
        }
  
        .prompt {
          flex-grow: 0;
          flex-shrink: 0;
          color: red;
          margin-right: 0.5rem;
        }
    
        pre {
          flex-grow: 1;
          flex-shrink: 1;
          white-space: pre-wrap;
          word-wrap: break-word;
          margin: 0;
        }
      }
    }
  }
}

.blink {
  animation: blinker 1.25s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}